body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    padding-left: 10%;
}

.hire-me {
    text-decoration: none;
    padding-left: 10px 20px;
    background-image: linear-gradient(red, yellow);
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}